<mat-card style="margin-bottom: 1em;" class="print-nobreak">
    <mat-card-title>
        <div class="top-title" i18n="educationHeader|Header for the education section@@educationHeader">Education</div>
    </mat-card-title>
    <mat-card-content>
        <!-- B.Sc. computer science -->
        <mat-card class="mat-elevation-z8 education-item-card print-nobreak">
            <mat-card-title i18n="bachelorHeader|Header for the Bachelor of Science section in education@@educationBachelorHeader">
                B.Sc. Computer Science
            </mat-card-title>
            <mat-card-subtitle i18n="bachelorDate|Graduation date for the Bachelor of Science@@educationBachelorDate">
                Graduation 2020 (planned)
            </mat-card-subtitle>
            <mat-card-content>
                <p i18n="bachelorMotivation|Description of the motivation to start studying for the Bachelor of Science@@educationBachelorMotivation">
                    Shortly after concluding my apprenticeship I decided to start studying computer science 
                    part time in addition to my job. Because of my interest in the theoretical backgrounds 
                    of my daily work as well as their mathematical foundations, I decided to enrol in the 
                    course of computer science (B.Sc.) at the FernUniversität in Hagen, which allows studying from home.
                </p>
            </mat-card-content>

            <!-- Modules of the Bachelor degree. -->
            <mat-card-title class="second-level-title">
                <h2 i18n="bachelorModulesHeader|Header for the modules taken as part of the Bachelor degree@@educationBachelorModulesHeader">
                    Modules
                </h2>
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <div class="achievement">
                            <span i18n="moduleSoftwareEngineering|Name of the Software Engineering module of the Bachelor degree@@educationBachelorModuleSoftwareEngineering">
                                Software Engineering I
                            </span>
                            <span class="separator"></span>
                            <span class="right">1,7</span>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="achievement">
                            <span i18n="moduleSecurityInternet|Name of the Security on the internet module of the Bachelor degree@@educationBachelorModuleSecurityInternet">
                                Security on the internet
                            </span>
                            <span class="separator"></span>
                            <span class="right">1,7</span>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="achievement">
                            <span i18n="moduleCompilers|Name of the Compilers module of the Bachelor degree@@educationBachelorModuleCompilers">
                                Compilers
                            </span>
                            <span class="separator"></span>
                            <span class="right">1,3</span>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="achievement">
                            <span i18n="moduleProgramming|Name of the programming module of the Bachelor degree@@educationBachelorModuleProgramming">
                                Modern programming techniques and methods
                            </span>
                            <span class="separator"></span>
                            <span class="right">1,0</span>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>

            <!-- Pending tasks for the Bachelor degree. -->
            <mat-card-title class="second-level-title">
                <h2 i18n="bachelorTodoHeader|Header for the pending tasks of the Bachelor degree@@educationBachelorTodoHeader">
                    To-Do
                </h2>
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item i18n="bachelorTodoAcknowledgement|Name of the task to get job experience acknowledged for the Bachelor degree@@educationBachelorTodoAcknowledgement">
                        Acknowledgment of experience from work
                    </mat-list-item>
                    <mat-list-item i18n="bachelorTodoThesis|Name of the task to create the final thesis for the Bachelor degree@@educationBachelorTodoThesis">
                        Bachelor thesis
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        
        <!-- Apprenticeship -->
        <mat-card class="mat-elevation-z8 education-item-card print-nobreak">
            <mat-card-title i18n="apprenticeshipHeader|Header for the apprenticeship section in education@@educationApprenticeshipHeader">
                Apprenticeship: IT-Specialist specialised in software development
            </mat-card-title>
            <mat-card-subtitle i18n="apprenticeshipDate|Graduation date for the apprenticeship@@educationApprenticeshipDate">
                Graduation 2013
            </mat-card-subtitle>
            <mat-card-content>
                <p i18n="apprenticeshipDescription|Description of the content and results of the apprenticeship@@educationApprenticeshipDescription">
                    After graduating from school, I started an apprenticeship as an IT-Specialist 
                    specialised in software development at NeoGeo New Media GmbH in Elmshorn, Germany.
                    I finished the apprenticeship in winter semester of 2012/13 (shortened to 2.5 years) 
                    with a certification issued by the IHK for best results in that semester.
                </p>
            </mat-card-content>
        </mat-card>

        <!-- School -->
        <mat-card class="mat-elevation-z8 education-item-card print-nobreak">
            <mat-card-title i18n="schoolHeader|Header for the school section in education@@educationSchoolHeader">
                School: A level
            </mat-card-title>
            <mat-card-subtitle i18n="schoolDate|Graduation date for school@@educationSchoolDate">
                Graduation 2010
            </mat-card-subtitle>
            <mat-card-content>
                <p i18n="schoolDescription|Description of the education in school and results@@educationSchoolDescription">
                    I graduated from school with the German Abitur (equivalent of A levels, final grade 2.0) in 2010.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>