<dj-resources-content [resourcesHandle]="resources">
    <ng-template>
        <mat-card style="margin-bottom: 1em;">
            <mat-card-title>
                <span style="font-size: 1.2em;">{{ resources.values.education }}</span>
            </mat-card-title>
            <mat-card-content class="card-section-divider"><mat-divider></mat-divider></mat-card-content>
            <ng-container *ngFor="let item of resources.values.educationItems; let last = last" style="margin-bottom:1em;">
                <mat-card-title>
                    {{ item.title }}
                </mat-card-title>
        
                <mat-card-subtitle *ngIf="item.subtitle">
                    {{ item.subtitle }}
                </mat-card-subtitle>
                <mat-card-content>      
                    <p *ngFor="let line of item.content">{{ line }}</p>
                </mat-card-content>
                
                <ng-container *ngFor="let checklist of item.checklists">
                    <mat-card-title class="second-level-title">
                        <h2>{{ checklist.title }}</h2>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list>
                        <mat-list-item *ngFor="let checklistItem of checklist.items">
                            <div class="achievement">
                                <span>{{ checklistItem.label }}</span>
                                <span class="separator"></span>
                                <span class="right">{{ checklistItem.score }}</span>
                            </div>
                        </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </ng-container>
                <mat-card-content *ngIf="!last" class="card-section-divider"><mat-divider></mat-divider></mat-card-content>
            </ng-container>  
        </mat-card>
    </ng-template>
  </dj-resources-content>