<dj-resources-content [resourcesHandle]="resources">
    <ng-template>
      <div>
          <mat-card *ngFor="let item of resources.values.educationItems" style="margin-bottom:1em;">
            <mat-card-title>
                {{ item.title }}
            </mat-card-title>
            <mat-card-subtitle *ngIf="item.subtitle">
                {{ item.subtitle }}
            </mat-card-subtitle>
  
            <mat-card-content>
              <p *ngFor="let line of item.content">{{ line }}</p>
            </mat-card-content>
            
            <ng-container *ngFor="let checklist of item.checklists">
                <mat-card-title class="second-level-title">
                    <h2>{{ checklist.title }}</h2>
                </mat-card-title>
                <mat-card-content>
                    <mat-list>
                    <mat-list-item *ngFor="let checklistItem of checklist.items">
                        <div class="achievement">
                            <span>{{ checklistItem.label }}</span>
                            <span class="separator"></span>
                            <span class="right">{{ checklistItem.score }}</span>
                        </div>
                    </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </ng-container>
          </mat-card>
      </div>
    </ng-template>
  </dj-resources-content>