/* Sticky toolbar, taken from:
 * https://stackoverflow.com/questions/47145113/angular-material-2-how-to-lock-mat-toolbar-and-mat-tabs-to-the-top
 */
.sticky-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.navigation-menu-button {
  margin-left: 1em;
}

/* Styles for language selection module. */
.selected-icon {
  visibility: hidden;
}
.selected-icon.active {
  visibility: visible;
}