/* Sticky toolbar, taken from:
 * https://stackoverflow.com/questions/47145113/angular-material-2-how-to-lock-mat-toolbar-and-mat-tabs-to-the-top
 */
.sticky-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.link-active {
  font-weight: 900;
}

.navigation-menu-button {
  margin-left: 1em;
}

.third-party-link {
  padding-left: 60px;
}
.third-party-link > img {
  height: 32px;
  position: absolute;
  top: 8px;
  margin-left: -46px;
}