<dj-resources-content [resourcesHandle]="resources">
    <ng-template>
            <mat-card>
                <mat-card-title>{{ resources.values.title }}</mat-card-title>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab [label]="resources.values.development.title">
                            <dj-development></dj-development>
                        </mat-tab>
                        <mat-tab [label]="resources.values.hosting.title">
                            <dj-hosting></dj-hosting>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
    </ng-template>
</dj-resources-content>