<dj-resources-content [resourcesHandle]="resources">
  <ng-template>
    <div class="container">
      <p *ngFor="let line of resources.values.development.body">{{ line }}</p>

      <mat-card class="project-container" *ngFor="let project of resources.values.development.projects">
        <!-- Title with Github and CI info. -->
        <mat-card-title>
          <dj-github-link class="github-link" [repositoryUrl]="project.repositoryUrl"></dj-github-link>
          {{ project.title }}
        </mat-card-title>
        <mat-card-subtitle>
          <a [href]="project.ciUrl"><img [src]="project.ciBadgeImageUrl"></a>
        </mat-card-subtitle>

        <mat-card-content>
          <p *ngFor="let line of project.description">{{ line }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</dj-resources-content>