.content-container {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 1em;
}

.mini-profile-card-container {
  /* Landing page should just contain the centered mini-profile-card,
     so center it in a full-height container (minus 64px navbar). */
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:599px){
  .mini-profile-card-container {
    min-height: calc(100vh - 56px);
  }
}
@media print {
  .mini-profile-card-container {
    min-height: inherit !important;
  }
}