/* You can add global styles to this file, and also import other style files */
@import "assets/theme/theme.scss";

/* Ensure full width of page content. */
html, body {
    margin: 0;
    padding: 0;
}

.mat-tooltip {
    @extend .mat-typography;
    font-size: 0.9em;
}

.centered {
    text-align: center;
}

a.unstyled {
    text-decoration: none;
    color: inherit;
}

.print-nobreak {
    break-inside: avoid;
    page-break-inside: avoid;
}

.print-only {
    display: none !important;
}

@media print {
    * {
        color: #111111 !important;
    }
    .print-hidden {
        display: none !important;   
    }
    .print-only {
        display: inherit !important;
    }
}