<mat-card class="profile-card">
  <mat-card-content>
    <div class="profile-picture-container">
      <img src="assets/images/profile-picture.png" />
    </div>
    <div class="description">
      <div>Dennis Janiak</div>
      <div>Softwareentwickler</div>
      <div>Hamburg, Deutschland</div>
    </div>
    <div class="keywords">
      <mat-chip-list>
        <mat-chip selected color="primary">C#</mat-chip>
        <mat-chip selected color="primary">.NET</mat-chip>
        <mat-chip selected color="primary">ASP.NET</mat-chip>
        <mat-chip selected color="primary">.NET Core</mat-chip>
        <mat-chip selected color="primary">Angular</mat-chip>
        <mat-chip selected color="primary">TypeScript</mat-chip>
        <mat-chip selected color="primary">Bootstrap</mat-chip>
        <mat-chip selected color="primary">Angular Material</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
</mat-card>