<dj-resources-content [resourcesHandle]="resources">
  <ng-template>
    <mat-card class="profile-card mat-elevation-z4">
      <mat-card-content>
        <div class="profile-picture-container">
          <img src="assets/images/profile-picture.png" />
        </div>
        <div class="description">
          <div>{{ resources.values.profile.name }}</div>
          <div>{{ resources.values.profile.title }}</div>
          <div>{{ resources.values.profile.location }}</div>
        </div>
        <div class="keywords">
          <mat-chip-list>
            <mat-chip *ngFor="let keyword of resources.values.profile.keywords" selected color="primary">{{ keyword }}</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <div class="profile-links print-hidden">
          <!-- Github profile -->
          <div *ngFor="let thirdPartyLink of resources.values.thirdPartyLinks">
            <a [href]="thirdPartyLink.url" target="_blank"
              [matTooltip]="thirdPartyLink.name"
              mat-icon-button mat-raised-button class="third-party-link">
              <img src="assets/images/{{ thirdPartyLink.iconImage }}.png"/>
            </a>
          </div>

          <!-- Mail contact -->
          <div>
            <a href="mailto:{{ resources.values.emailAddress }}" mat-icon-button mat-raised-button
              matTooltip="E-Mail">
              <mat-icon class="mail-icon">mail</mat-icon>
            </a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </ng-template>
</dj-resources-content>